example/Conveyor control.json
[
    {
        "id": "fc4c6ec001cdca77",
        "type": "tab",
        "label": "Conveyor control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "14576e1c9951be25",
        "type": "inject",
        "z": "fc4c6ec001cdca77",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "b3b11182e86ab2ce"
            ]
        ]
    },
    {
        "id": "088476558f87bcd8",
        "type": "Send",
        "z": "fc4c6ec001cdca77",
        "name": "",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "b3b11182e86ab2ce",
        "type": "Function",
        "z": "fc4c6ec001cdca77",
        "name": "Conveyor reset",
        "robot_name": "Conveyor1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "1",
        "Text": "",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "088476558f87bcd8"
            ]
        ]
    },
    {
        "id": "67928c48fc36326f",
        "type": "inject",
        "z": "fc4c6ec001cdca77",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "f9d90d69509e157d"
            ]
        ]
    },
    {
        "id": "436807057bfabb1d",
        "type": "Send",
        "z": "fc4c6ec001cdca77",
        "name": "",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "f9d90d69509e157d",
        "type": "Function",
        "z": "fc4c6ec001cdca77",
        "name": "Conveyor set pose 1",
        "robot_name": "Conveyor1",
        "N": "1",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "1",
        "Text": "",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "436807057bfabb1d"
            ]
        ]
    },
    {
        "id": "85026e66f790be0a",
        "type": "comment",
        "z": "fc4c6ec001cdca77",
        "name": "increment the value of \"N\" to set the next position",
        "info": "",
        "x": 240,
        "y": 160,
        "wires": []
    },
    {
        "id": "e5e664be5a25772f",
        "type": "inject",
        "z": "fc4c6ec001cdca77",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "c5e7f92588122d81"
            ]
        ]
    },
    {
        "id": "5d942b96789e45eb",
        "type": "Send",
        "z": "fc4c6ec001cdca77",
        "name": "",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "c5e7f92588122d81",
        "type": "Function",
        "z": "fc4c6ec001cdca77",
        "name": "Conveyor set pose 5",
        "robot_name": "Conveyor1",
        "N": "2",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "5",
        "Text": "",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "5d942b96789e45eb"
            ]
        ]
    }
]