example/Robot Control.json
[
    {
        "id": "e07f16f2f739f841",
        "type": "tab",
        "label": "Robot control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6822138886921d19",
        "type": "function",
        "z": "e07f16f2f739f841",
        "name": "Get from Robot1_2",
        "func": "if (msg.payload.name == \"Robot1_2\")\n{\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 420,
        "wires": [
            [
                "4d6786bedb223bf7"
            ]
        ]
    },
    {
        "id": "4d6786bedb223bf7",
        "type": "function",
        "z": "e07f16f2f739f841",
        "name": "outputs motor",
        "func": "var msg1 = { payload: msg.payload.m1 };\nvar msg2 = { payload: msg.payload.m2 };\nvar msg3 = { payload: msg.payload.m3 };\nvar msg4 = { payload: msg.payload.m4 };\nvar msg5 = { payload: msg.payload.m5 };\nvar msg6 = { payload: msg.payload.m6 };\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6]",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "5925c55bb3b1eef5"
            ],
            [
                "acfa7e8cce9adcf5"
            ],
            [
                "442d09e89a4dd4f2"
            ],
            [
                "a5ea1d46592c7593"
            ],
            [
                "c245fd54c78d1716"
            ],
            [
                "e2594e5b1f596f10"
            ]
        ]
    },
    {
        "id": "de24ebcefa807e51",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "8c2e442f6ed55b7f"
            ]
        ]
    },
    {
        "id": "4910aa5d3a8b0e87",
        "type": "Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "7ffed64fefc345a8",
        "type": "Get",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "6822138886921d19"
            ]
        ]
    },
    {
        "id": "8c2e442f6ed55b7f",
        "type": "Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Start Pose",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "1",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Start",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "4910aa5d3a8b0e87"
            ]
        ]
    },
    {
        "id": "efb8c42d2b13366c",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "a47e8c5bd147b4b9"
            ]
        ]
    },
    {
        "id": "d52cbf0706c576a2",
        "type": "Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "a47e8c5bd147b4b9",
        "type": "Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Parking Pose",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Parking",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "d52cbf0706c576a2"
            ]
        ]
    },
    {
        "id": "70c411c7524f7c55",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "38f9b69643ca1baa"
            ]
        ]
    },
    {
        "id": "345926c3baa2eb81",
        "type": "Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "38f9b69643ca1baa",
        "type": "Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Pose 1 Vacum 1",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "1",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "345926c3baa2eb81"
            ]
        ]
    },
    {
        "id": "a377f95011413367",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "8857c0f61e7e3ee5"
            ]
        ]
    },
    {
        "id": "7da253d3d55aedba",
        "type": "Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "8857c0f61e7e3ee5",
        "type": "Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_2 Coordinates",
        "robot_name": "Robot1_2",
        "N": "0",
        "X": "167",
        "Y": "-120",
        "T": "0",
        "G": "170",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "7da253d3d55aedba"
            ]
        ]
    },
    {
        "id": "5925c55bb3b1eef5",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "acfa7e8cce9adcf5",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "442d09e89a4dd4f2",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "a5ea1d46592c7593",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "c245fd54c78d1716",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "e2594e5b1f596f10",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "2b084a13633f0a59",
        "type": "comment",
        "z": "e07f16f2f739f841",
        "name": "Pallitizer",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "028fe17e5dd47ab4",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "5861e2584e2e60ef"
            ]
        ]
    },
    {
        "id": "a1109cfc825207f4",
        "type": "Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1230,
        "y": 220,
        "wires": []
    },
    {
        "id": "5861e2584e2e60ef",
        "type": "Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Start Pose",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Start",
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "a1109cfc825207f4"
            ]
        ]
    },
    {
        "id": "c25cc879c46fa5c7",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "a179b90760aa12df"
            ]
        ]
    },
    {
        "id": "9585f99b901724c3",
        "type": "Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1230,
        "y": 180,
        "wires": []
    },
    {
        "id": "a179b90760aa12df",
        "type": "Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Parking Pose",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "Parking",
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "9585f99b901724c3"
            ]
        ]
    },
    {
        "id": "ed4547356c6a0b6a",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 100,
        "wires": [
            [
                "6d864ebb9c25c0bd"
            ]
        ]
    },
    {
        "id": "b8a5f54e35202867",
        "type": "Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1230,
        "y": 100,
        "wires": []
    },
    {
        "id": "6d864ebb9c25c0bd",
        "type": "Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Pose 1 Vacum 0",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "1",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 1040,
        "y": 100,
        "wires": [
            [
                "b8a5f54e35202867"
            ]
        ]
    },
    {
        "id": "c97871c8d306ad58",
        "type": "inject",
        "z": "e07f16f2f739f841",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 140,
        "wires": [
            [
                "6d67e13672606c09"
            ]
        ]
    },
    {
        "id": "12abeebb7aac7488",
        "type": "Send",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 1230,
        "y": 140,
        "wires": []
    },
    {
        "id": "6d67e13672606c09",
        "type": "Function",
        "z": "e07f16f2f739f841",
        "name": "Robot1_1 Coordinates",
        "robot_name": "Robot1_1",
        "N": "0",
        "X": "167",
        "Y": "-120",
        "T": "90",
        "G": "170",
        "V": "1",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "12abeebb7aac7488"
            ]
        ]
    },
    {
        "id": "2de05c07e6ff392b",
        "type": "comment",
        "z": "e07f16f2f739f841",
        "name": "Angular",
        "info": "",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "3ef16058e581b52a",
        "type": "function",
        "z": "e07f16f2f739f841",
        "name": "Get from Robot1_1",
        "func": "if (msg.payload.name == \"Robot1_1\")\n{\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 720,
        "wires": [
            [
                "917c59df0cd8c1d1"
            ]
        ]
    },
    {
        "id": "917c59df0cd8c1d1",
        "type": "function",
        "z": "e07f16f2f739f841",
        "name": "outputs motor",
        "func": "var msg1 = { payload: msg.payload.m1 };\nvar msg2 = { payload: msg.payload.m2 };\nvar msg3 = { payload: msg.payload.m3 };\nvar msg4 = { payload: msg.payload.m4 };\nvar msg5 = { payload: msg.payload.m5 };\nvar msg6 = { payload: msg.payload.m6 };\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6]",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 720,
        "wires": [
            [
                "d98acd622cb0e8d7"
            ],
            [
                "78c0d26baed94a9b"
            ],
            [
                "3aeb6fcc33e0842e"
            ],
            [
                "64a8854dae67037c"
            ],
            [
                "01137544dc46e757"
            ],
            [
                "819926583110bfdb"
            ]
        ]
    },
    {
        "id": "778f27f5220c873e",
        "type": "Get",
        "z": "e07f16f2f739f841",
        "name": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "3ef16058e581b52a"
            ]
        ]
    },
    {
        "id": "d98acd622cb0e8d7",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "78c0d26baed94a9b",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 660,
        "wires": []
    },
    {
        "id": "3aeb6fcc33e0842e",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 700,
        "wires": []
    },
    {
        "id": "64a8854dae67037c",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 740,
        "wires": []
    },
    {
        "id": "01137544dc46e757",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 780,
        "wires": []
    },
    {
        "id": "819926583110bfdb",
        "type": "debug",
        "z": "e07f16f2f739f841",
        "name": "Motor 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 820,
        "wires": []
    }
]