example/WorkshiftTerminal control.json
[
    {
        "id": "18f1b0131b22478c",
        "type": "tab",
        "label": "WorkshiftTerminal control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "265e74750547a127",
        "type": "inject",
        "z": "18f1b0131b22478c",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "723b173f15217bc0"
            ]
        ]
    },
    {
        "id": "3ca1ccbca7dd6674",
        "type": "Send",
        "z": "18f1b0131b22478c",
        "name": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "723b173f15217bc0",
        "type": "Function",
        "z": "18f1b0131b22478c",
        "name": "WorkshiftTerminal set lamp and text",
        "robot_name": "WorkshiftTerminal1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "1",
        "L2": "1",
        "L3": "1",
        "L4": "1",
        "P": "1",
        "Text": "Hello world!",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "3ca1ccbca7dd6674"
            ]
        ]
    },
    {
        "id": "0f9f68be50ca177b",
        "type": "inject",
        "z": "18f1b0131b22478c",
        "name": "Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "e6fb3b0896cafe8c"
            ]
        ]
    },
    {
        "id": "3970c5dfb8689a32",
        "type": "Send",
        "z": "18f1b0131b22478c",
        "name": "",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "e6fb3b0896cafe8c",
        "type": "Function",
        "z": "18f1b0131b22478c",
        "name": "WorkshiftTerminal clear all",
        "robot_name": "WorkshiftTerminal1",
        "N": "0",
        "X": "0",
        "Y": "0",
        "T": "0",
        "G": "0",
        "V": "0",
        "D0": "0",
        "L1": "0",
        "L2": "0",
        "L3": "0",
        "L4": "0",
        "P": "0",
        "Text": "",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "3970c5dfb8689a32"
            ]
        ]
    },
    {
        "id": "98bf7836447b3281",
        "type": "function",
        "z": "18f1b0131b22478c",
        "name": "Get from WorkshiftTerminal1",
        "func": "if (msg.payload.name == \"WorkshiftTerminal1\")\n{\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 220,
        "wires": [
            [
                "2b7761ba3d19888e"
            ]
        ]
    },
    {
        "id": "2b7761ba3d19888e",
        "type": "function",
        "z": "18f1b0131b22478c",
        "name": "outputs motor",
        "func": "var msg1 = { payload: msg.payload.b1 };\nvar msg2 = { payload: msg.payload.b2 };\nvar msg3 = { payload: msg.payload.b3 };\nvar msg4 = { payload: msg.payload.p };\n\nreturn [msg1, msg2, msg3, msg4]",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "60daf4fe5191ad62"
            ],
            [
                "bc52efc28d50daa7"
            ],
            [
                "27b246b7d62507d4"
            ],
            [
                "030dce1a5d24cf61"
            ]
        ]
    },
    {
        "id": "555832740ec509b0",
        "type": "Get",
        "z": "18f1b0131b22478c",
        "name": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "98bf7836447b3281"
            ]
        ]
    },
    {
        "id": "60daf4fe5191ad62",
        "type": "debug",
        "z": "18f1b0131b22478c",
        "name": "Button 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "bc52efc28d50daa7",
        "type": "debug",
        "z": "18f1b0131b22478c",
        "name": "Button 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "27b246b7d62507d4",
        "type": "debug",
        "z": "18f1b0131b22478c",
        "name": "Button 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "030dce1a5d24cf61",
        "type": "debug",
        "z": "18f1b0131b22478c",
        "name": "Button RED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 280,
        "wires": []
    }
]